body {
  min-height: 3500px;
}

.navbar {
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}
.jumbotron {
  font-family: 'Poppins', sans-serif;
  font-size: 21px;
  padding-top: 6rem;
  background-color: #a2d9ff;
  overflow: hidden;
}

#about {
  font-family: 'Poppins', sans-serif;
  background-color: #e7e092;
  overflow: hidden;
}

#sertifikat {
  font-family: 'Poppins', sans-serif;
  background-color: #f1b27d;
}

#projects {
  font-family: 'Poppins', sans-serif;
  background-color: #f285ad;
  overflow: hidden;
  
}

#skill {
  font-family: 'Poppins', sans-serif;
  background-color: #ecda5e;
  font-size: 50px;
  overflow: hidden;
  
}

#contact {
  font-family: 'Poppins', sans-serif;
  background-color: #ce95e9;
  overflow: hidden;
}

#footer {
  font-family: 'Poppins', sans-serif;
  background-color: #212529;
  font-size: 20px;
  color: #a2d9ff;
}

section {
  padding-top: 5rem;
}
